.bam{

	background-color: red;
	color: orange;
	margin-left:500px;
	margin-right:500px;
	border-left: auto;
	border-right: auto;
 
}


#cheese{

background-color: blue;
color:red;
padding: 20px;
border: black;
border-width: 5px;
border-style: solid;
margin-left: 500px;
margin-right: 500px;


}
#hello{

	display: block;
	margin-left:auto;
	margin-right:auto;
	border-color: blue;
	border-style: solid;
	border
}